<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kestrel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery="full" %}
        {% block head %} {% endblock %}
    </head>
    <body>
        <!-- NAVBAR-->
        <nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-warning">
            <a class="navbar-brand" href="/">Kestrel</a>
            {% if not request.user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
               
                <li class="nav-item {% if request.GET.next != '/courier/'%} active {% endif %}">
                  <a class="nav-link" href="/sign-in/?next=/customer/">Customer</a>
                </li>
                
                <li class="nav-item {% if request.GET.next == '/courier/'%} active {% endif %}">
                  <a class="nav-link" href="/sign-in/?next=/courier/">Courier</a>
                </li>
              </ul>              
            </div>
            {% else %} 
              <form class="form-inline">
                  <span class="mr-4">{{ request.user.get_full_name|title }}</span>
                  <a href="/sign-out" class="btn btn-outline-dark">Sign Out</a>
              </form>
            {% endif %}
          </nav>

          {% block content %} {% endblock %}
        
        <footer class="text-center mt-5 mb-5">&copy; Copyright Kestrel </footer>
        <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

        <script>
          function toast(message, type) {
            bootoast.toast({
              position: 'leftBottom',
              message,
              type
            });
          }

          {% if messages %}

          {% for message in messages %}
           toast('{{message}}', '{{message.tags}}')

          {% endfor %}

          {% endif %}

        </script>
    </body>
</html>