{% extends 'base.html'%}

{% block head %}
<title>Sign in</title>
{% endblock %}

{% load bootstrap4 %}
   
{% block content %}
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center text-uppercase mb-3">
                                {% if request.GET.next != '/courier/' %}
                                    Customer
                                {% else %}
                                    Courier
                                {% endif %}
                            </h4>
                            <p class="card-text">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form_errors form %}
                                    {% bootstrap_label "Email" %}
                                    {% bootstrap_field form.username show_label=False placeholder="Email" %}
                                    {% bootstrap_field form.password %}
                                    <button class="btn btn-warning btn-block">Sign in</button>
                                    <p class="text-center mt-3">
                                        Don´t have and account? <a href="/sign-up/?next={{ request.GET.next }}"> Sign Up</a>
                                    </p>
                                    <hr>
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.GET.next }}" class="btn btn-outline-primary btn-block">Sign In with Facebook</a>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
        